autopep8==2.0.4
certifi==2020.6.20
chardet==3.0.4
colorful==0.5.4
dnspython==2.4.2
et-xmlfile==1.1.0
idna==2.10
numpy==1.26.0
openpyxl==3.1.2
pandas==1.5.3
prettyprinter==0.18.0
pycodestyle==2.11.0
Pygments==2.6.1
pymongo==4.5.0
python-dateutil==2.8.1
python-decouple==3.8
pytz==2020.1
requests==2.24.0
schedule==1.2.1
six==1.15.0
tomli==2.0.1
urllib3==1.25.10
